/* @media print{ */

  @page{
    size: A4;
    bleed: 6mm; 
    /* marks: crop; */

    @top-left {
      content: element(top-left);
    }
    @top-right {
      content: element(top-right);
    }
    @bottom-center {
      content: element(bottom-center);
      /* width: 8cm; */
    }
    @bottom-right {
      content: counter(page) "/" counter(pages);
      font-size: 10px;
    }
  }
/* } */

  .ratnaafin-logo {
    position: running(top-left);
  }
  .ratnaafin-logo img {
    max-width: 5.5cm;
  }
  .statement-date {
    color: #0d6fb9;
    position: running(top-right);
  }
  .address-details {
    font-size: 9px;
    color: #8f8f8f;
    width: 9cm;
    position: running(bottom-center);
  }
